/* *,
::before,
::after {
    box-sizing: inherit;
} 

.link-content:focus-visible {
    outline: 1px dotted;
}
*/

:root {
    --color-blue: #4f7cfe;
}

.link-content {
    width: 100%;
    display: flex;
    margin: 0.5em;
    text-decoration: none;
    color: #f2f2f2;
    background: var(--color-blue);
    padding: 1em;
    border: 2px solid var(--color-blue);
}

.link-content:hover {
    background: white;
    color: var(--color-blue);
    overflow: hidden;
}

.link-title {
    width: 80%;
    text-align: center;
    margin-left: 0.5em;
}

/* .link-content img {
    width: 20px;
} */

@media (min-width: 800px) {
    .link-content {
        width: 50%;
    }
}
